.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 400px;
    width: 90%;
  }
  
  .popupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .popupTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #555;
  }
  
  .closeButton:hover {
    color: #000;
  }
  
  .dropdown {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .executeButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .executeButton:hover {
    background-color: #0056b3;
  }
  
  .resultContainer {
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .resultTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #343a40;
  }
  
  .resultValue {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .teamResult {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
  
  .teamName {
    font-weight: bold;
    color: #007bff;
  }
  
  .teamValue {
    font-size: 16px;
    color: #495057;
  }
  
  
  .cancelButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .cancelButton:hover {
    background-color: #d32f2f;
  }
  